@import url(https://fonts.googleapis.com/css?family=Montserrat);@charset "UTF-8";

.text-primary {
  color: #427bfd !important;
}

.text-secondary {
  color: #707070 !important;
}

.text-success {
  color: #299567 !important;
}

.text-warning {
  color: #ec942d !important;
}

.text-alert {
  color: #fbde1e !important;
}

.text-white {
  color: #ffffff !important;
}

.text-info {
  color: #6cb966 !important;
}

.text-red {
  color: #b72162 !important;
}

.text-gray {
  color: #333333 !important;
}

.text-black {
  color: #111111 !important;
}

.bg-primary {
  background-color: #427bfd !important;
}

.bg-secondary {
  background-color: #707070 !important;
}

.bg-success {
  background-color: #299567 !important;
}

.bg-warning {
  background-color: #ec942d !important;
}

.bg-alert {
  background-color: #fbde1e !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-info {
  background-color: #6cb966 !important;
}

.bg-red {
  background-color: #b72162 !important;
}

.bg-gray {
  background-color: #333333 !important;
}

.bg-black {
  background-color: #111111 !important;
}

.text-muted {
  color: #aaaaaa !important;
}

.text-normal {
  color: #111111 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
  background-color: #e4e4e4;
  border: 1px inset;
  padding: 0.5em;
  display: block;
  width: 100%;
  font-family: monospace;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #aaaaaa;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0;
}

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}

button {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

html {
  width: 100%;
  min-width: 375px;
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  color: #111111;
  background-color: #f9f9f9;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  word-break: break-word;
}

.container,
.container-fluid {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.container.container-row,
.container-fluid.container-row {
  flex-direction: row;
}

.container.no-padding,
.container-fluid.no-padding {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container.no-padding {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.main-content {
  min-height: 60vh;
  max-width: 100%;
  align-items: baseline;
  margin-bottom: 2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.row .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1200px) {
  .row .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 736px) {
  .row .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

a,
a:visited {
  color: #111111;
  transition: 0.5s;
  text-decoration: none;
  outline-color: transparent;
  display: inline-block;
  cursor: pointer;
}

a:focus,
a:hover,
a:visited:focus,
a:visited:hover {
  color: #373737;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #aaaaaa;
  font-size: 65%;
  font-weight: 400;
  margin-left: 0.5em;
}

.h1.underline,
.h2.underline,
.h3.underline,
.h4.underline,
.h5.underline,
.h6.underline,
h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
  border-bottom: 2px solid;
}

.h1,
h1 {
  font-size: 35px;
}

.h2,
h2 {
  font-size: 28px;
}

.h3,
h3 {
  font-size: 23.8px;
}

.h4,
h4 {
  font-size: 21px;
}

.h5,
h5 {
  font-size: 18.9px;
}

.h6,
h6 {
  font-size: 14px;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f2f2f2;
  height: 0;
  transition: 2.5s;
  overflow: hidden;
  flex-direction: column;
  align-items: baseline;
  min-width: 15em;
  max-width: 30em;
}

.dropdown-menu ul li {
  display: block;
  width: 100%;
}

.dropdown-menu ul li:hover {
  background-color: #ebebeb;
}

.dropdown-menu ul li a {
  display: block;
  padding: 1em 1.5em;
}

@media (max-width: 812px) {
  .dropdown-menu {
    flex-direction: column;
  }

  .dropdown-menu ul {
    max-width: 100%;
    width: 100%;
    position: relative;
  }
}

.dropdown-menu > a {
  position: relative;
}

.dropdown-menu > a::after {
  position: absolute;
  content: "";
  top: 50%;
  margin-left: 1em;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  background: url("/images/svg/chevron_down.svg") no-repeat 50% 50%;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media (max-width: 1024px) {
  .dropdown-menu > a::after {
    margin-left: 0.5em;
  }
}

.dropdown-menu:hover > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-menu:hover ul {
  height: inherit;
}

.rounded {
  border-radius: 5px !important;
}

.b-1 {
  border: 1px solid !important;
}

.bt-1 {
  border-top: 1px solid !important;
}

.bb-1 {
  border-bottom: 1px solid !important;
}

.bl-1 {
  border-left: 1px solid !important;
}

.br-1 {
  border-right: 1px solid !important;
}

.b-2 {
  border: 2px solid !important;
}

.bt-2 {
  border-top: 2px solid !important;
}

.bb-2 {
  border-bottom: 2px solid !important;
}

.bl-2 {
  border-left: 2px solid !important;
}

.br-2 {
  border-right: 2px solid !important;
}

.b-3 {
  border: 3px solid !important;
}

.bt-3 {
  border-top: 3px solid !important;
}

.bb-3 {
  border-bottom: 3px solid !important;
}

.bl-3 {
  border-left: 3px solid !important;
}

.br-3 {
  border-right: 3px solid !important;
}

.b-0 {
  border: 0 solid !important;
}

.bt-0 {
  border-top: 0 solid !important;
}

.bb-0 {
  border-bottom: 0 solid !important;
}

.bl-0 {
  border-left: 0 solid !important;
}

.br-0 {
  border-right: 0 solid !important;
}

.b-primary {
  border-color: #427bfd !important;
}

.b-secondary {
  border-color: #707070 !important;
}

.b-success {
  border-color: #299567 !important;
}

.b-warning {
  border-color: #ec942d !important;
}

.b-alert {
  border-color: #fbde1e !important;
}

.b-white {
  border-color: #ffffff !important;
}

.b-info {
  border-color: #6cb966 !important;
}

.b-red {
  border-color: #b72162 !important;
}

.b-gray {
  border-color: #333333 !important;
}

.b-black {
  border-color: #111111 !important;
}

.visible {
  visibility: visible;
}

.hidden,
.invisible {
  visibility: hidden;
}

.lead {
  font-size: 1.25em;
}

mark {
  background-color: rgba(236, 148, 45, 0.3);
  padding: 0.2em;
}

.blockquote {
  margin-bottom: 1em;
  font-size: 120%;
}

.blockquote-footer {
  display: block;
  padding: 0;
  font-size: 80%;
  color: #aaaaaa;
}

.blockquote-footer::before {
  content: "— ";
}

.nowrap {
  white-space: nowrap;
}

.strong {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.overflow {
  overflow: hidden;
}

.btn {
  padding: 0.5em 3em;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.5s;
  color: #427bfd;
  position: relative;
  min-width: 8em;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
  color: rgba(66, 123, 253, 0.8);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

@media screen and (max-width: 736px) {
  .btn {
    min-width: 100%;
    margin-bottom: 1em;
  }
}

.btn-outline-primary {
  color: #427bfd;
  border-color: #427bfd;
  border: 1px solid;
}

.btn-outline-primary:hover {
  color: #0243d7;
}

.btn-primary {
  background-color: #427bfd;
  color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #1058fc;
  color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #4c7ff3;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-secondary {
  color: #707070;
  border-color: #707070;
  border: 1px solid;
}

.btn-outline-secondary:hover {
  color: #3d3d3d;
}

.btn-secondary {
  background-color: #707070;
  color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #575757;
  color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #707070;
  border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:hover,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-success {
  color: #299567;
  border-color: #299567;
  border: 1px solid;
}

.btn-outline-success:hover {
  color: #134530;
}

.btn-success {
  background-color: #299567;
  color: #ffffff;
}

.btn-success:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled):hover {
  background-color: #1e6d4b;
  color: #ffffff;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #338c66;
  border-color: transparent;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled).active:hover,
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-warning {
  color: #ec942d;
  border-color: #ec942d;
  border: 1px solid;
}

.btn-outline-warning:hover {
  color: #a45f0f;
}

.btn-warning {
  background-color: #ec942d;
  color: #ffffff;
}

.btn-warning:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled):hover {
  background-color: #d37b13;
  color: #ffffff;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
  background-color: #e19338;
  border-color: transparent;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled).active:hover,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-alert {
  color: #fbde1e;
  border-color: #fbde1e;
  border: 1px solid;
}

.btn-outline-alert:hover {
  color: #b09903;
}

.btn-alert {
  background-color: #fbde1e;
  color: #ffffff;
}

.btn-alert:not(:disabled):not(.disabled):focus,
.btn-alert:not(:disabled):not(.disabled):hover {
  background-color: #e2c504;
  color: #ffffff;
}

.btn-alert:not(:disabled):not(.disabled).active,
.btn-alert:not(:disabled):not(.disabled):active {
  background-color: #f0d629;
  border-color: transparent;
}

.btn-alert:not(:disabled):not(.disabled).active:focus,
.btn-alert:not(:disabled):not(.disabled).active:hover,
.btn-alert:not(:disabled):not(.disabled):active:focus,
.btn-alert:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid;
}

.btn-outline-white:hover {
  color: #cccccc;
}

.btn-white {
  background-color: #ffffff;
  color: #ffffff;
}

.btn-white:not(:disabled):not(.disabled):focus,
.btn-white:not(:disabled):not(.disabled):hover {
  background-color: #e6e6e6;
  color: #ffffff;
}

.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active {
  background-color: white;
  border-color: transparent;
}

.btn-white:not(:disabled):not(.disabled).active:focus,
.btn-white:not(:disabled):not(.disabled).active:hover,
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-info {
  color: #6cb966;
  border-color: #6cb966;
  border: 1px solid;
}

.btn-outline-info:hover {
  color: #3f7f3a;
}

.btn-info {
  background-color: #6cb966;
  color: #ffffff;
}

.btn-info:not(:disabled):not(.disabled):focus,
.btn-info:not(:disabled):not(.disabled):hover {
  background-color: #50a24a;
  color: #ffffff;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
  background-color: #76ae71;
  border-color: transparent;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled).active:hover,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-red {
  color: #b72162;
  border-color: #b72162;
  border: 1px solid;
}

.btn-outline-red:hover {
  color: #611134;
}

.btn-red {
  background-color: #b72162;
  color: #ffffff;
}

.btn-red:not(:disabled):not(.disabled):focus,
.btn-red:not(:disabled):not(.disabled):hover {
  background-color: #8c194b;
  color: #ffffff;
}

.btn-red:not(:disabled):not(.disabled).active,
.btn-red:not(:disabled):not(.disabled):active {
  background-color: #ac2c63;
  border-color: transparent;
}

.btn-red:not(:disabled):not(.disabled).active:focus,
.btn-red:not(:disabled):not(.disabled).active:hover,
.btn-red:not(:disabled):not(.disabled):active:focus,
.btn-red:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-gray {
  color: #333333;
  border-color: #333333;
  border: 1px solid;
}

.btn-outline-gray:hover {
  color: black;
}

.btn-gray {
  background-color: #333333;
  color: #ffffff;
}

.btn-gray:not(:disabled):not(.disabled):focus,
.btn-gray:not(:disabled):not(.disabled):hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn-gray:not(:disabled):not(.disabled).active,
.btn-gray:not(:disabled):not(.disabled):active {
  background-color: #333333;
  border-color: transparent;
}

.btn-gray:not(:disabled):not(.disabled).active:focus,
.btn-gray:not(:disabled):not(.disabled).active:hover,
.btn-gray:not(:disabled):not(.disabled):active:focus,
.btn-gray:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-outline-black {
  color: #111111;
  border-color: #111111;
  border: 1px solid;
}

.btn-outline-black:hover {
  color: black;
}

.btn-black {
  background-color: #111111;
  color: #ffffff;
}

.btn-black:not(:disabled):not(.disabled):focus,
.btn-black:not(:disabled):not(.disabled):hover {
  background-color: black;
  color: #ffffff;
}

.btn-black:not(:disabled):not(.disabled).active,
.btn-black:not(:disabled):not(.disabled):active {
  background-color: #111111;
  border-color: transparent;
}

.btn-black:not(:disabled):not(.disabled).active:focus,
.btn-black:not(:disabled):not(.disabled).active:hover,
.btn-black:not(:disabled):not(.disabled):active:focus,
.btn-black:not(:disabled):not(.disabled):active:hover {
  color: #ffffff;
}

.btn-white {
  color: #427bfd;
}

.btn-white .btn-after,
.btn-white .btn-pre {
  background-color: #f2f2f2 !important;
}

.btn-white:hover {
  color: rgba(66, 123, 253, 0.8);
  background-color: #ffffff !important;
}

.btn-white.disabled,
.btn-white:disabled {
  color: #427bfd;
}

.btn-black:hover {
  background-color: #2b2b2b !important;
}

.btn-outline-white:hover {
  color: #cccccc;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%;
}

.errors {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  width: 100%;
}

.errors h2 small {
  display: block;
  margin-bottom: 2em;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-1 {
  padding: 0.125rem;
}

.pt-1 {
  padding-top: 0.125rem;
}

.pb-1 {
  padding-bottom: 0.125rem;
}

.pl-1 {
  padding-left: 0.125rem;
}

.pr-1 {
  padding-right: 0.125rem;
}

.m-1 {
  margin: 0.125rem;
}

.mt-1 {
  margin-top: 0.125rem;
}

.mb-1 {
  margin-bottom: 0.125rem;
}

.ml-1 {
  margin-left: 0.125rem;
}

.mr-1 {
  margin-right: 0.125rem;
}

.p-2 {
  padding: 0.25rem;
}

.pt-2 {
  padding-top: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.25rem;
}

.pl-2 {
  padding-left: 0.25rem;
}

.pr-2 {
  padding-right: 0.25rem;
}

.m-2 {
  margin: 0.25rem;
}

.mt-2 {
  margin-top: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.25rem;
}

.ml-2 {
  margin-left: 0.25rem;
}

.mr-2 {
  margin-right: 0.25rem;
}

.p-3 {
  padding: 0.5rem;
}

.pt-3 {
  padding-top: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.5rem;
}

.pl-3 {
  padding-left: 0.5rem;
}

.pr-3 {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 0.5rem;
}

.mt-3 {
  margin-top: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.5rem;
}

.ml-3 {
  margin-left: 0.5rem;
}

.mr-3 {
  margin-right: 0.5rem;
}

.p-4 {
  padding: 0.75rem;
}

.pt-4 {
  padding-top: 0.75rem;
}

.pb-4 {
  padding-bottom: 0.75rem;
}

.pl-4 {
  padding-left: 0.75rem;
}

.pr-4 {
  padding-right: 0.75rem;
}

.m-4 {
  margin: 0.75rem;
}

.mt-4 {
  margin-top: 0.75rem;
}

.mb-4 {
  margin-bottom: 0.75rem;
}

.ml-4 {
  margin-left: 0.75rem;
}

.mr-4 {
  margin-right: 0.75rem;
}

.p-5 {
  padding: 1rem;
}

.pt-5 {
  padding-top: 1rem;
}

.pb-5 {
  padding-bottom: 1rem;
}

.pl-5 {
  padding-left: 1rem;
}

.pr-5 {
  padding-right: 1rem;
}

.m-5 {
  margin: 1rem;
}

.mt-5 {
  margin-top: 1rem;
}

.mb-5 {
  margin-bottom: 1rem;
}

.ml-5 {
  margin-left: 1rem;
}

.mr-5 {
  margin-right: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.p-7 {
  padding: 2rem;
}

.pt-7 {
  padding-top: 2rem;
}

.pb-7 {
  padding-bottom: 2rem;
}

.pl-7 {
  padding-left: 2rem;
}

.pr-7 {
  padding-right: 2rem;
}

.m-7 {
  margin: 2rem;
}

.mt-7 {
  margin-top: 2rem;
}

.mb-7 {
  margin-bottom: 2rem;
}

.ml-7 {
  margin-left: 2rem;
}

.mr-7 {
  margin-right: 2rem;
}

.p-8 {
  padding: 2.5rem;
}

.pt-8 {
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 2.5rem;
}

.pl-8 {
  padding-left: 2.5rem;
}

.pr-8 {
  padding-right: 2.5rem;
}

.m-8 {
  margin: 2.5rem;
}

.mt-8 {
  margin-top: 2.5rem;
}

.mb-8 {
  margin-bottom: 2.5rem;
}

.ml-8 {
  margin-left: 2.5rem;
}

.mr-8 {
  margin-right: 2.5rem;
}

.p-9 {
  padding: 3rem;
}

.pt-9 {
  padding-top: 3rem;
}

.pb-9 {
  padding-bottom: 3rem;
}

.pl-9 {
  padding-left: 3rem;
}

.pr-9 {
  padding-right: 3rem;
}

.m-9 {
  margin: 3rem;
}

.mt-9 {
  margin-top: 3rem;
}

.mb-9 {
  margin-bottom: 3rem;
}

.ml-9 {
  margin-left: 3rem;
}

.mr-9 {
  margin-right: 3rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.5rem rgba(228, 228, 228, 0.3);
  background-color: #e4e4e4;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 0.3rem;
  background-color: #f9f9f9;
}

select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3rem rgba(249, 249, 249, 0.3);
  background-color: #f9f9f9;
}

.scroll-primary::-webkit-scrollbar-thumb {
  background-color: #427bfd;
}

.scroll-secondary::-webkit-scrollbar-thumb {
  background-color: #707070;
}

.scroll-success::-webkit-scrollbar-thumb {
  background-color: #299567;
}

.scroll-warning::-webkit-scrollbar-thumb {
  background-color: #ec942d;
}

.scroll-alert::-webkit-scrollbar-thumb {
  background-color: #fbde1e;
}

.scroll-white::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.scroll-info::-webkit-scrollbar-thumb {
  background-color: #6cb966;
}

.scroll-red::-webkit-scrollbar-thumb {
  background-color: #b72162;
}

.scroll-gray::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.scroll-black::-webkit-scrollbar-thumb {
  background-color: #111111;
}

hr {
  background-color: #e4e4e4;
  border: none;
  height: 1px;
  width: 100%;
}

.block-flex {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.block-display {
  display: block;
}

.block-inline {
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.block-none {
  display: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

ol,
ul {
  padding-left: 1rem;
  margin-left: 0.5rem;
}

.list-inline,
.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  margin-right: 0.5em;
}

.list-inline > li:last-child {
  margin-right: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus textarea:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #111111;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

[contenteditable],
input,
textarea {
  caret-color: #111111;
}

input,
select,
textarea {
  background-color: transparent;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 0.3333333333em 0.5em;
  width: 100%;
}

.input__error {
  font-size: 80%;
  color: #b72162;
  margin-bottom: 0.5em;
}

.badge {
  position: relative;
  background-color: #427bfd;
  border-radius: 5px;
  font-size: 80%;
  padding: 0.3333333333em 0.5em;
  margin-left: 0.5em;
  display: inline-flex;
  justify-content: center;
  min-width: 2em;
  color: #ffffff;
  font-weight: 700;
}

.badge.badge-primary {
  background-color: #427bfd;
}

.badge.badge-secondary {
  background-color: #707070;
}

.badge.badge-success {
  background-color: #299567;
}

.badge.badge-warning {
  background-color: #ec942d;
}

.badge.badge-alert {
  background-color: #fbde1e;
}

.badge.badge-white {
  background-color: #ffffff;
}

.badge.badge-info {
  background-color: #6cb966;
}

.badge.badge-red {
  background-color: #b72162;
}

.badge.badge-gray {
  background-color: #333333;
}

.badge.badge-black {
  background-color: #111111;
}

.badge-alert,
.badge-white {
  color: #111111;
}

.label {
  position: relative;
  margin-right: 5px;
}

.label::after {
  position: absolute;
  content: "";
  top: -2.5px;
  right: -5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #427bfd;
}

.label-x2::after {
  top: -5px;
  right: -10px;
  width: 10px;
  height: 10px;
}

.label.label-primary::after {
  background-color: #427bfd;
}

.label.label-secondary::after {
  background-color: #707070;
}

.label.label-success::after {
  background-color: #299567;
}

.label.label-warning::after {
  background-color: #ec942d;
}

.label.label-alert::after {
  background-color: #fbde1e;
}

.label.label-white::after {
  background-color: #ffffff;
}

.label.label-info::after {
  background-color: #6cb966;
}

.label.label-red::after {
  background-color: #b72162;
}

.label.label-gray::after {
  background-color: #333333;
}

.label.label-black::after {
  background-color: #111111;
}

.v--modal-block-scroll {
  overflow: hidden;
  width: 100vw;
}

.v--modal-overlay {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, 0.2);
  z-index: 999;
  opacity: 1;
}

.v--modal-overlay.scrollable {
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.v--modal-overlay .v--modal-background-click {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.v--modal-overlay .v--modal-box {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.v--modal {
  background-color: #ffffff;
  text-align: left;
  border-radius: 5px;
  padding: 1em;
}

.v--modal.v--modal-fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
  left: 0;
  top: 0;
}

.v--modal-top-right {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition: all 0.5s;
}

.overlay-fade-enter,
.overlay-fade-leave-active {
  opacity: 0;
}

.nice-modal-fade-enter-active,
.nice-modal-fade-leave-active {
  transition: all 0.5s;
}

.nice-modal-fade-enter,
.nice-modal-fade-leave-active {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.v--modal-box {
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 736px) {
  .v--modal-box {
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 0 !important;
  }
}

.v--modal-box .close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  font-size: 2em;
  color: #333333;
}

.noty_layout_mixin,
#noty_layout__centerRight,
#noty_layout__centerLeft,
#noty_layout__center,
#noty_layout__bottomRight,
#noty_layout__bottomCenter,
#noty_layout__bottomLeft,
#noty_layout__bottom,
#noty_layout__topRight,
#noty_layout__topCenter,
#noty_layout__topLeft,
#noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
          animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
          animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_theme__mint.noty_bar {
  margin: 0.5em 0;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 1em;
  font-size: 14px;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 0.5em;
}

.noty_theme__mint.noty_bar .noty_progressbar {
  height: 4.6666666667px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fef4b4;
}

.noty_theme__mint.noty_type__warning {
  background-color: #f9dbb9;
}

.noty_theme__mint.noty_type__error {
  background-color: #e988b2;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #d1e9cf;
}

.noty_theme__mint.noty_type__success {
  background-color: #7cdbb3;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

header {
  padding: 0.8em 0;
  position: relative;
  z-index: 500;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu-button {
  display: none;
  padding: 0.5em;
  margin-left: auto;
  line-height: 1;
}

header .logo img {
  height: 45px;
}

header .mmenu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: calc(100% - 210px);
}

header .mmenu ul {
  flex-wrap: wrap;
}

@media (max-width: 812px) {
  header .mmenu {
    position: absolute;
    top: 100%;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    font-size: 1.2em;
    height: 0;
    overflow: hidden;
    box-shadow: 0 3px 5px 0 rgba(17, 17, 17, 0.1);
    transition: box-shadow 0.5s;
  }

  header .mmenu.show {
    height: auto;
    padding: 1em 0;
  }

  header .mmenu ul {
    flex-direction: column;
  }

  header .mmenu ul a {
    width: 100%;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  header .menu-button {
    display: block;
  }
}

header ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
}

header ul li {
  display: inline-flex;
  align-items: center;
}

header ul li a {
  padding: 0.4em 3em;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  header ul li a {
    padding: 0.4em 1.5em;
    text-align: center;
  }
}

footer {
  padding: 6rem 0 2.8rem;
}

footer .footer_bottom,
footer .footer_top {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}

footer .copyright {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 736px) {
  footer {
    padding: 2em 0 1em;
  }

  footer .footer_bottom {
    flex-direction: column;
    text-align: center;
  }

  footer .footer_bottom .copyright {
    font-size: 10px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 414px) {
  footer .footer_bottom {
    flex-direction: row;
    justify-content: center;
  }
}

.backtotop {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.5em;
  background-color: #e4e4e4;
  border-radius: 50%;
  line-height: 1;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.backtotop i {
  display: flex !important;
}

.backtotop.show {
  opacity: 1;
  visibility: visible;
}

.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: currentColor;
  height: 1em;
  width: 1em;
}

.icon.icon-primary {
  background-color: #427bfd;
}

.icon.icon-secondary {
  background-color: #707070;
}

.icon.icon-success {
  background-color: #299567;
}

.icon.icon-warning {
  background-color: #ec942d;
}

.icon.icon-alert {
  background-color: #fbde1e;
}

.icon.icon-white {
  background-color: #ffffff;
}

.icon.icon-info {
  background-color: #6cb966;
}

.icon.icon-red {
  background-color: #b72162;
}

.icon.icon-gray {
  background-color: #333333;
}

.icon.icon-black {
  background-color: #111111;
}

.icon.x15 {
  height: 1.5em;
  width: 1.5em;
}

.icon.x2 {
  height: 2em;
  width: 2em;
}

.icon.x3 {
  height: 3em;
  width: 3em;
}

.icon.x4 {
  height: 4em;
  width: 4em;
}

.icon.bell {
  -webkit-mask: url("/images/svg/bell.svg") no-repeat 50% 50%;
  mask: url("/images/svg/bell.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.bell_empty {
  -webkit-mask: url("/images/svg/bell_empty.svg") no-repeat 50% 50%;
  mask: url("/images/svg/bell_empty.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.bars {
  -webkit-mask: url("/images/svg/bars.svg") no-repeat 50% 50%;
  mask: url("/images/svg/bars.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.pencil {
  -webkit-mask: url("/images/svg/pencil.svg") no-repeat 50% 50%;
  mask: url("/images/svg/pencil.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.trash {
  -webkit-mask: url("/images/svg/trash.svg") no-repeat 50% 50%;
  mask: url("/images/svg/trash.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.chevron_down {
  -webkit-mask: url("/images/svg/chevron_down.svg") no-repeat 50% 50%;
  mask: url("/images/svg/chevron_down.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.chevron_up {
  -webkit-mask: url("/images/svg/chevron_up.svg") no-repeat 50% 50%;
  mask: url("/images/svg/chevron_up.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.chevron_left {
  -webkit-mask: url("/images/svg/chevron_left.svg") no-repeat 50% 50%;
  mask: url("/images/svg/chevron_left.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.chevron_right {
  -webkit-mask: url("/images/svg/chevron_right.svg") no-repeat 50% 50%;
  mask: url("/images/svg/chevron_right.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.cogs {
  -webkit-mask: url("/images/svg/cogs.svg") no-repeat 50% 50%;
  mask: url("/images/svg/cogs.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.exit {
  -webkit-mask: url("/images/svg/exit.svg") no-repeat 50% 50%;
  mask: url("/images/svg/exit.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.facebook {
  -webkit-mask: url("/images/svg/facebook.svg") no-repeat 50% 50%;
  mask: url("/images/svg/facebook.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.instagram {
  -webkit-mask: url("/images/svg/instagram.svg") no-repeat 50% 50%;
  mask: url("/images/svg/instagram.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.linkedin {
  -webkit-mask: url("/images/svg/linkedin.svg") no-repeat 50% 50%;
  mask: url("/images/svg/linkedin.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.twitter {
  -webkit-mask: url("/images/svg/twitter.svg") no-repeat 50% 50%;
  mask: url("/images/svg/twitter.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.vimeo {
  -webkit-mask: url("/images/svg/vimeo.svg") no-repeat 50% 50%;
  mask: url("/images/svg/vimeo.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.youtube {
  -webkit-mask: url("/images/svg/youtube.svg") no-repeat 50% 50%;
  mask: url("/images/svg/youtube.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.icon1 {
  -webkit-mask: url("/images/svg/1.svg") no-repeat 50% 50%;
  mask: url("/images/svg/1.svg") no-repeat 50% 50%;
  display: inline-block;
}

.icon.icon2 {
  -webkit-mask: url("/images/svg/2.svg") no-repeat 50% 50%;
  mask: url("/images/svg/2.svg") no-repeat 50% 50%;
  display: inline-block;
}

.asetting_menu {
  position: absolute;
  top: 5em;
  left: -1.5em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-left: 0;
  z-index: 99501;
  transition: 0.5s;
}

.asetting_menu:hover {
  left: 0;
}

.asetting_menu a {
  background-color: #b72162;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0.2em;
  display: flex;
}

.asetting_menu a:hover {
  color: #ec942d;
}


/*# sourceMappingURL=style.css.map*/