.asetting_menu {
  position: absolute;
  top: $spacer *5;
  left: -1.5em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  padding: $spacer /2;
  padding-left: 0;
  z-index: 99501;
  transition: $trans;

  &:hover {
    left: 0;
  }

  a {
    background-color: $red;
    color: $white;
    padding: $spacer /2;
    border-radius: 0 $radius*2 $radius*2 0;
    margin-bottom: $spacer /5;
    display: flex;

    &:hover {
      color: $warning;
    }
  }
}
