.car_dropdown_list {
  display: flex;
  flex-direction: column;

  .bottom-button,
  li {
    order: 2;
    a {
      width: 100%;
    }
  }

  li.selected {
    order: 1;
  }
}

.car_dropdown {
  a {
    border-bottom: none !important;
  }

  .el-dropdown-link {
    display: block;

    &::after {
      display: none;
    }
  }
}

.car_dropdown_list {
  padding: $spacer *2;

  li {
    margin-bottom: $spacer /2;
    border: 1px solid;
    border-color: lighten($medium-gray, 20%);
    transition: $trans;

    a {
      display: flex;
      align-items: center;

      &:hover {
        background-color: transparent;
      }

      span {
        line-height: 0;
      }

      .icon {
        margin: -5px;
      }
    }

    &.selected,
    &:hover {
      border-color: $primary;
    }
  }

  .btn-outline-secondary {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
