.my_cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $spacer*3 0;

  .cars_item {
    max-width: 30%;
    width: 390px;
    min-height: 390px;
    border: 1px solid $medium-gray;
    border-radius: 3px;
    margin-bottom: $spacer;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    .def {
      opacity: 1;
      transition: 0.5s;
    }

    &.active {
      border-color: $primary;
      .def {
        opacity: 0;
      }
    }

    &_image {
      cursor: pointer;
      height: 15em;
      overflow: hidden;
    }

    @media screen and (max-width: 768px) {
      max-width: 47%;
      width: 47%;
    }

    @media screen and (max-width: 568px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .cars_empty {
    padding: $spacer *2;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.75em;
    font-weight: 600;
    cursor: pointer;

    i {
      margin-bottom: $spacer /2;
      font-size: 1.75em;
    }

    @media screen and (max-width: 568px) {
      padding: $spacer;
    }
  }

  .cars_item_info {
    padding: $spacer *2;
    color: $secondary;

    span {
      margin-left: $spacer;
      margin-right: $spacer /2;
    }

    .lead {
      color: $black;
      font-weight: 700;
      margin-bottom: $spacer;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .def {
    position: absolute;
    bottom: $spacer;
    right: $spacer;
    color: $primary;

    &:hover, &:focus {
      color: darken($primary, 30%);

    }
  }
}
