footer {
  padding: 6rem 0 2.8rem;

  .footer_bottom,
  .footer_top {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
  }

  .copyright {
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 736px) {
    padding: $spacer*2 0 $spacer;

    .footer_bottom {
      flex-direction: column;
      text-align: center;
      .copyright {
        font-size: 10px;
        flex-direction: column;
        justify-content: space-between;
      }
    }

  }

  @media screen and (max-width: 414px) {
    .footer_bottom {
      flex-direction: row;
      justify-content: center;
    }
  }
}
