header {
  padding: 0.8em 0;
  position: relative;
  z-index: 500;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
  align-items: center;

  .top_title {
    padding-left: $spacer *1.5;
    padding-right: $spacer *3;
  }

    .notification-menu {
        padding-left: $spacer;
    }

  .menu-button {
    display: none;
    padding: $spacer /2;
    margin-left: auto;
  }

  .logo {
    img {
      height: 45px;
    }
  }

  .mmenu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: calc(100% - 210px);
  }
  @media (max-width: 736px) {

    .mmenu {
      position: absolute;
      top: 100%;
      flex-direction: column;
      background-color: $bg-gray;
      width: 100%;
      left: 0;
      font-size: 1.2em;
      height: 0;
      overflow: hidden;

      &.show {
        height: auto;
        padding: $spacer 0;
      }

      ul {
        flex-direction: column;

        a {
          width: 100%;
          text-align: left;
          padding-top: $spacer;
          padding-bottom: $spacer;
        }
      }
    }

    .menu-button {
      display: block;
    }
  }
.right-menu {
    @media (max-width: 1200px) and (min-width: 736px) {
        ul {
            flex-direction: column !important;
        }

    }

    @media (max-width: 1200px) and (min-width: 1025px) {
        .notification-menu {
            padding-left: $spacer *2.3;
            position: static;
        }

        .top_title {
            padding-left: $spacer *3;
            padding-right: $spacer *3;
        }

    }
}

  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;

    li {
      display: inline-flex;
      align-items: center;
      line-height: 1;
      transition: 0.5s;

      a {
        padding: 0.4em $btn-padding-side;
        border-bottom: 1px solid transparent;
        @media (max-width: 1024px) {
          padding: 0.4em $btn-padding-side /2;
          text-align: center;
        }

        &.active {
          border-bottom-color: currentColor;
        }
      }
    }
  }
}
