header {
  padding: 0.8em 0;
  position: relative;
  z-index: 500;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-button {
    display: none;
    padding: $spacer /2;
    margin-left: auto;
    line-height: 1;
  }

  .logo {
    img {
      height: 45px;
    }
  }

  .mmenu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: calc(100% - 210px);

    ul {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 812px) {
    .mmenu {
      position: absolute;
      top: 100%;
      flex-direction: column;
      background-color: $bg-gray;
      width: 100%;
      left: 0;
      font-size: 1.2em;
      height: 0;
      overflow: hidden;
      box-shadow: 0 3px 5px 0 rgba($black, 0.1);
      transition: box-shadow $trans;

      &.show {
        height: auto;
        padding: $spacer 0;
      }

      ul {
        flex-direction: column;

        a {
          width: 100%;
          text-align: left;
          padding-top: $spacer;
          padding-bottom: $spacer;
        }
      }
    }

    .menu-button {
      display: block;
    }
  }
  
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;

    li {
      display: inline-flex;
      align-items: center;
      // line-height: 1;
      a {
        padding: 0.4em $btn-padding-side;
        white-space: nowrap;
        @media (max-width: 1024px) {
          padding: 0.4em $btn-padding-side /2;
          text-align: center;
        }
      }
    }
  }
}
