.expenses-refueling-table {

  .el-table__header-wrapper {
    margin-top: $spacer *4;
  }

  .el-table__body {
    border-collapse: separate;
    border-spacing: 0 $spacer *2;
  }

  th {
    border: none !important;
    color: $medium-gray;
    font-size: $spacer *0.9;
    text-align: center;
  }

  tr {
    td {
      border-top: 1px solid lighten($medium-gray, 20%);
      border-bottom: 1px solid lighten($medium-gray, 20%);
      transition: border-color $trans;
      padding: $spacer /2;
      text-align: center;
      cursor: default;

      &:first-child {
        border-left: 1px solid lighten($medium-gray, 20%);
      }
      &:last-child {
        border-right: 1px solid lighten($medium-gray, 20%);

        .cell {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          a {
            padding: $spacer;
          }
        }
      }
    }

    &:hover {
      td {
        border-color: $primary;
      }
    }
  }


  .el-table__body {
    margin-bottom: $spacer *2;
  }

  @media (max-width: 736px) {
    display: none;
  }
}

.refuling-expenses {
  .mobile-data-refuling {
    list-style: none;
    margin-top: $spacer *2;
    margin-left: 0;
    padding-left: 0;

    @media (min-width: 736px) {
      display: none;
    }
  }

  .mobile-data-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer *2;

    div {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 0.9em;
      }

      .auto-name {
        font-size: 1.2em;
      }

      .auto-price {
        font-size: 1.3em;

        .icon {
          height: 0.7em;
        }
      }

      .detailed {
        a {
          color: $primary;
          font-size: 0.8em;
          padding: 1em 0;
        }
      }
    }
  }
}
.el-pagination{
    text-align: center;
    button:disabled{
        background: none !important;
    }
    .btn-prev{
        background: none !important;
    }
    .btn-next{
        background: none !important;
    }
    li{
        background: none !important;
    }
}
