.expenses-statistic {
    margin-left: -1em;
    margin-right: -1em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;

    @media (max-width: 736px) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-left: 0;
        margin-right: 0;
    }


    .active{
        border-color: $primary !important;
    }

    .expenses-item {
        border: 1px solid;
        border-color: lighten($medium-gray, 20%);
        flex: 0 0 auto;
        padding: $spacer /3;
        width: calc(100%/6 - 2em);
        min-height: 12em;
        margin: $spacer;
        margin-bottom: $spacer * 3;
        color: $black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;


        &:hover {
            border-color: $primary;
        }
        @media (max-width: 1024px) {
            width: calc(100%/3 - 2em);
        }

        @media (max-width: 736px) {
            width: calc(100%/2 - 2em);
            margin-bottom: $spacer * 3;
        }

        @media (max-width: 375px) {
            width: calc(60% - 2em);
            margin-bottom: $spacer * 3
        }

        .expenses-item-title{
            opacity: 0.6;
            font-size: 0.9em;
        }

        .expenses-item-price{
            font-size: 2em;
            font-weight: 600;
        }

        p{
            display: flex;
        }

        .icon {
            margin-top: $spacer *0.7;
        }

    }
}
