.subscribe {
  .info {
    max-width: 400px;
    color: $medium-gray;
  }

  form {
    .form-line {
      input {
        max-width: 270px;
        border-bottom: 1px solid transparentize($black, 0.3);
        margin-bottom: $spacer;
      }
      @media screen and (max-width: 768px) {
        text-align: center;

        input {
          max-width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 736px) {
    text-align: center;
    
    .info {
      max-width: 100%;
    }
  }
}
