hr {
  background-color: $light-gray;
  border: none;
  height: 1px;
  width: 100%;
}

.block-flex {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.block-display {
  display: block;
}

.block-inline {
  display: inline-block;
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

.block-none {
  display: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
