html {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-family: $font-family;
  font-size: $font-size;

  // We deliberately do NOT reset font-size or word-wrap.
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  color: $main-color;
  background-color: $bg-gray;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  word-break: break-word;
}
