.rounded {
  border-radius: $radius !important;
}
@each $size, $value in (1: $border-1, 2: $border-2, 3: $border-3, 0: 0) {
  .b-#{$size} {
    border: $value solid !important;
  }

  .bt-#{$size} {
    border-top: $value solid !important;
  }

  .bb-#{$size} {
    border-bottom: $value solid !important;
  }

  .bl-#{$size} {
    border-left: $value solid !important;
  }

  .br-#{$size} {
    border-right: $value solid !important;
  }
}
//border-colors
@each $key, $value in $colors_palette {
  &.b-#{$key} {
    border-color: #{$value}!important;
  }
}
