@mixin col() {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: $padding;
  padding-left: $padding;
  // border: 1px solid;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$padding *2});
  margin-left: -$padding;
  margin-right: -$padding;

  .col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    @include col();
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 percentage($i / $columns);
      max-width: percentage($i / $columns);
      @include col();
    }
  }

  //md
  @media (max-width: 1200px) {
    @for $i from 1 through $columns {
      .col-md-#{$i} {
        flex: 0 0 percentage($i / $columns);
        max-width: percentage($i / $columns);
        @include col();
      }
    }
  }

  //sm
  @media (max-width: 736px) {
    @for $i from 1 through $columns {
      .col-sm-#{$i} {
        flex: 0 0 percentage($i / $columns);
        max-width: percentage($i / $columns);
        @include col();
      }
    }
  }
}
