.dropdown-menu {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: darken($white, 5%);
    height: 0;
    transition: $trans *5;
    overflow: hidden;
    flex-direction: column;
    align-items: baseline;
    min-width: 15em;
    max-width: 30em;
    text-align: left;


    li {
      display: block;
      width: 100%;

      &:hover {
        background-color: darken($white, 8%);
      }

      a {
        display: block;
        padding: $spacer $spacer *1.5;
      }
    }

  }
  @media (max-width: 812px) {
    flex-direction: column;
    ul {
      max-width: 100%;
      width: 100%;
      position: relative;
    }
  }

  & > a {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      margin-left: 1em;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      background: url("/images/svg/chevron_down.svg") no-repeat 50% 50%;
      transition: transform $trans /2;
      transform: rotate(0);

      @media (max-width: 1024px) {
        margin-left: $spacer /2;
      }
    }
  }

  &:hover {
    & > a::after {
      transform: rotate(180deg);
    }

    ul {
      height: inherit;
    }
  }
}
