.lead {
  font-size: 1.25em;
}

.nowrap {
  white-space: nowrap;
}

.strong {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.relative {
  position: relative!important;
}

.absolute {
  position: absolute!important;
}
