a,
a:visited {
  color: $black;
  transition: $trans;
  text-decoration: none;
  outline-color: transparent;
  display: inline-block;
  cursor: pointer;

  &:focus,
  &:hover {
    color: lighten($black, 15%);
  }
}
